<div>
  <a [routerLink]="['/calendar']" class="cancel">Back</a>
  <p class="title">New meal</p>
</div>
<div class="mealInfo">
  <div class="time">
    <p>Time</p>
    <p class="info">12:40</p>
  </div>
  <div class="kcal">
    <p>Kcal</p>
    <p class="info">450</p>
  </div>
  <div class="fats">
    <p>Fats (gm)</p>
    <p class="info">55</p>
  </div>
  <div class="proteins">
    <p>Proteins (gm)</p>
    <p class="info">55</p>
  </div>
  <div class="carb">
    <p>Carbohydrates (gm)</p>
    <p class="info">55</p>
  </div>
  <div class="addPhoto">
    <img src="../../../assets/addPhoto.svg">
  </div>
</div>
<img class="girl" src="../../../assets/dimGirl.png" alt="dimGirl">
