 <div class="week">
  <div class="dayOfWeek">
    <div class="meal" *ngFor="let row of rows"></div>
  </div>
  <div class="dayOfWeek" *ngFor="let meals of data">
    <div class="meal" *ngFor="let hour of hours">
      <div [routerLink]="['/thatMeal']" *ngIf="meals | calendar : hour : 'boolean'" (click)="sendMeal(meals, hour)">
        <p>{{(meals | calendar : hour : 'object')?.title || ''}}</p>
        <p><b>{{(meals | calendar : hour : 'object')?.time || ''}}</b></p>
      </div>
    </div>
    <div class="meal"></div>
  </div>
</div>
<div class="horizontalLine">
  <div class="settings">
    <img [routerLink]="['/settings']" src="../../assets/settings.jpg" alt="cogwheel">
    <p class="month">{{today | date: 'MMM'}}˅</p>
  </div>
  <div [routerLink]="['/day']" class="days" *ngFor="let day of week" (click)="sendDay(day)">
    <div class="sum"><p [ngStyle]="{color: changeColor(sumKcal[week.indexOf(day)])}">{{sumKcal[week.indexOf(day)]}}</p></div>
    <p class="day" [ngStyle]="{color: dayNumber(day, 'color'), background: dayNumber(day, 'background')}">{{day.getDate()}}</p>
    <p>{{day | date: 'EEE'}}</p>
  </div>
</div>
<div class="verticalLine">
  <p class="start" *ngFor="let hour of hours">{{hour}}</p>
</div>
<div class="add" [routerLink]="['/meal']">
  <img src="../../assets/add_24px.png" alt="add">
</div>
<img class="girl" src="../../assets/dimGirl.png" alt="girl">




