<div class="week">
  <div class="dayOfWeek">
    <div class="meal" *ngFor="let h of hours"></div>
  </div>
  <div class="dayOfWeek" *ngFor="let meals of data">
    <div class="meal" *ngFor="let h of time; let i=index">
      <div  [routerLink]="['/thatMeal']" *ngIf="meals | calendar : h" (click)="sendMeal(meals[i])">
        <p>{{meals[i]?.title || ''}}</p>
        <p><b>{{meals[i]?.time || ''}}</b></p>
      </div>
    </div>
    <div class="meal"></div>
  </div>
</div>
<div class="horizontalLine">
  <div class="settings">
    <img [routerLink]="['/settings']" src="../../assets/settings.jpg" alt="cogwheel">
    <p class="month">{{today | date: 'MMM'}}˅</p>
  </div>
  <div [routerLink]="['/day']" class="days" *ngFor="let d of week; let i=index" (click)="sendDay(data[d.getDay() - idx], d)">
    <div class="sum"><p [ngStyle]="{color: changeColor(sum)}" >{{sum}}</p></div>
    <p class="day" [ngStyle]="{color: d.getDate() === today.getDate() ? 'white' : 'black', background: d.getDate() === today.getDate() ? '#799CF4': 'none'}">{{d.getDate()}}</p>
    <p>{{d | date: 'EEE'}}</p>
  </div>
</div>
<div class="verticalLine">
  <p class="start" *ngFor="let t of time">{{t}}</p>
</div>
<div class="add" [routerLink]="['/meal']">
  <img src="../../assets/add_24px.png" alt="add">
</div>
<img class="girl" src="../../assets/dimGirl.png" alt="girl">




