<div>
  <a [routerLink]="['/calendar']" class="cancel">Cancel</a>
  <a [routerLink]="['/']" class="exit"><img src="../../assets/exit.jpg" alt="exit"></a>
  <p class="title">Personal settings</p>
</div>
<div class="content">
  <form [formGroup]="form" (ngSubmit)="save()">
    <p class="pGender">Gender</p>
    <div class="gender">
      <div class="circle">
        <input class="radio" id="male" type="radio" name="gender" value="m" formControlName="gender">
      </div>
      <label for="male">Male</label>
      <div class="circle fem">
        <input class="radio" id="female" type="radio" name="gender" value="fem" formControlName="gender">
      </div>
      <label for="female">Female</label>
    </div>
    <div>
      <p>Weight (kg)</p>
      <input type="text" name="weight" formControlName="weight">
    </div>
    <div>
      <p>Height (sm)</p>
      <input type="text" name="height" formControlName="height">
    </div>
    <button class="button calc" type="button">Calculate rate for day</button>
    <div class="kcal">
      <div class="minMax">
        <p>Min kcal</p>
        <input type="text" name="min kcal" formControlName="minKcal">
      </div>
      <div class="minMax">
        <p>Max kcal</p>
        <input type="text" name="max kcal" formControlName="maxKcal">
      </div>
    </div>
    <div>
      <p>Fats (gm)</p>
      <input type="text" name="Fats" formControlName="fats">
      <p>Proteins (gm)</p>
      <input type="text" name="Proteins" formControlName="proteins">
      <p>Carbohydrates (gm)</p>
      <input type="text" name="Carbohydrates" formControlName="carb">
    </div>
    <button  class="button save" type="submit" [disabled]="form.invalid">Save settings</button>
  </form>
</div>
<img class="girl" src="../../assets/dimGirl.png">

<div class="by"></div>
<div class="blur">
  <div class="modal">
    <p>Settings changed. Go back to the main page?</p>
    <button>No</button>
    <button>Yes</button>
  </div>
</div>

